/*
  ================================================================================
  AMRProfiler Config
  Mayurie Mejía | Trainee/Rookie | Sequentia Biotech
  ================================================================================
*/
includeConfig 'conf/params.config'
includeConfig 'conf/resources.config'

params {
    samplesheet = null
    assembly    = null
    outdir      = 'amrprofiler_results'
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /media/sequentia/isilon:/media/sequentia/isilon'
        process {
            withName: 'DOWNLOAD'    { container = 'staphb/sratoolkit:latest' }
            withName: 'QC'          { container = 'staphb/fastp:latest'      }
            withName: 'ASSEMBLY'    { container = 'staphb/spades:latest'     }
            withName: 'QUAST'       { container = 'staphb/quast:latest'      }
            withName: 'AMRPROFILER' { container = 'amrprofiler:1.0.0'        }
            withName: 'REPORT'      { container = 'ubuntu:24.04'             }
        }
    }
}

timeline { enabled = true; overwrite = true; file = "${params.outdir}/trace/timeline.html" }
report   { enabled = true; overwrite = true; file = "${params.outdir}/trace/report.html"   }
trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/trace/trace.txt"
    fields    = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,peak_rss'
}
dag { enabled = true; overwrite = true; file = "${params.outdir}/trace/dag.svg" }
