/*
  (•˕ •マ.ᐟ
  Ejercicio AMR | Salmonella
  Mayurie Mejía | Trainee/Rookie | Sequentia Biotech
  ================================================================================
  Configuración Nextflow (DSL2 · modular)
  ================================================================================
*/

params {
  samplesheet  = null
  outdir       = 'amr_pipeline_results'
  threads      = 8
  mem_gb       = 16
  organism     = 'Salmonella'
  ncbi_dir     = null
  amrfinder_db = "${projectDir}/amrfinder_db_updated"
  img_sra      = 'staphb/sratoolkit:latest'
  img_fastp    = 'staphb/fastp:latest'
  img_spades   = 'staphb/spades:latest'
  img_prokka   = 'staphb/prokka:latest'
  img_amr      = 'staphb/ncbi-amrfinderplus:latest'
  img_python   = 'amr-python-report:3.11'
}

params.schema = "${projectDir}/params.schema.json"

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /media/sequentia/isilon:/media/sequentia/isilon'
    }
    standard {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g) -v /media/sequentia/isilon:/media/sequentia/isilon'
    }
}

timeline {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/timeline.html"
  overwrite = true
}
report {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/report.html"
  overwrite = true
}
trace {
  enabled   = true
  file      = "${params.outdir}/pipeline_info/trace.tsv"
  overwrite = true
}
