/*
  ================================================================================
  Parámetros por defecto - AMRProfiler
  Mayurie Mejía | Trainee/Rookie | Sequentia Biotech
  ================================================================================
*/

params {
    // ─── Input y Output ────────────────────────────────────
    samplesheet = null
    species     = "Salmonella"
    outdir      = "${projectDir}/amrprofiler_results"
    
    // ─── Rutas de Base de Datos ────────────────────────────
    amrp_db     = "/amrprofiler"

    // ─── Recursos Computacionales ──────────────────────────
    threads     = 6
    mem_gb      = 16

    // ─── Thresholds de AMRProfiler ─────────────────────────
    identity    = 70
    coverage    = 70
}
