/*
  ================================================================================
  Asignación de Recursos - AMRProfiler
  Mayurie Mejía | Trainee/Rookie | Sequentia Biotech
  ================================================================================
*/

process {
    cpus   = 2
    memory = '4 GB'

    // Recursos específicos por proceso
    withName: 'DOWNLOAD'     { cpus = params.threads; memory = '2 GB'  }
    withName: 'QC'           { cpus = params.threads; memory = '4 GB'  }
    withName: 'ASSEMBLY'     { cpus = params.threads; memory = "${params.mem_gb} GB" }
    withName: 'QUAST'        { cpus = params.threads; memory = '4 GB'  }
    withName: 'AMRPROFILER'  { cpus = params.threads; memory = '8 GB'  }
    withName: 'REPORT'       { cpus = 1;              memory = '1 GB'  }
}
